body {
  margin: 0;
  padding: 0;
  font-family: "Raleway-Regular";
  width: 100%;
  height: 100%;
  font-size: 15px; }

p {
  font-size: 15px;
  line-height: 1.6; }

a {
  text-decoration: none;
  color: #207DCC; }

.heading, .region-content .block-region-content .block-block-content:first-child h2, [class*="blocknews-and-updates"] h2, [class*="views-blocksession-tracks"] h2, [class*="views-blockspronsors"] h2, .become-sponsors .become-sponsors-content h3, .page-title, .view-id-news_and_updates .views-field-title a, .node--type-session .field--name-title {
  font-family: "Rockwell-regular";
  font-size: 34px;
  margin-top: 0; }

.buttons, .more-link a, .button--danger,
input[value="Delete"],
input[value="Remove"], form .form-submit {
  margin-top: 2em;
  background-image: linear-gradient(to right, #6DE5EC 0%, #00aeee 100%);
  display: inline-block;
  font-size: 11px;
  cursor: pointer;
  font-family: "Raleway-Bold";
  text-transform: uppercase;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.2);
  padding: 7px 25px;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s all ease; }

.buttons:hover, .more-link a:hover, .button--danger:hover,
input[value="Delete"]:hover,
input[value="Remove"]:hover, form .form-submit:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3); }

@media only screen and (max-width: 768px) {
  .buttons, .more-link a, .button--danger,
  input[value="Delete"],
  input[value="Remove"], form .form-submit {
    padding: 12px 25px; } }

.hvr-sweep-to-right, .region-content .block-region-content .block-block-content:first-child .field--name-body a, [class*="views-blocksession-tracks"] .view-footer a {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s; }

.hvr-sweep-to-right:before, .region-content .block-region-content .block-block-content:first-child .field--name-body a:before, [class*="views-blocksession-tracks"] .view-footer a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }

.hvr-sweep-to-right:hover:before, .region-content .block-region-content .block-block-content:first-child .field--name-body a:hover:before, [class*="views-blocksession-tracks"] .view-footer a:hover:before, .hvr-sweep-to-right:focus:before, .region-content .block-region-content .block-block-content:first-child .field--name-body a:focus:before, [class*="views-blocksession-tracks"] .view-footer a:focus:before, .hvr-sweep-to-right:active:before, .region-content .block-region-content .block-block-content:first-child .field--name-body a:active:before, [class*="views-blocksession-tracks"] .view-footer a:active:before {
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  src: url("../fonts/Raleway-Bold.otf") format("opentype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Light';
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
  src: url("../fonts/Raleway-Light.otf") format("opentype"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Medium';
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
  src: url("../fonts/Raleway-Medium.otf") format("opentype"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  src: url("../fonts/Raleway-Regular.otf") format("opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Thin';
  src: url("../fonts/Raleway-Thin.ttf") format("truetype");
  src: url("../fonts/Raleway-Thin.otf") format("opentype"), url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.svg#Raleway-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rockwell-regular';
  src: url("../fonts/rockwell-regular.ttf") format("truetype");
  src: url("../fonts/rockwell-regular.otf") format("opentype"), url("../fonts/rockwell-regular.woff") format("woff"), url("../fonts/rockwell-regular.svg#Raleway-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rockwell-bold';
  src: url("../fonts/rockwell-bold.ttf") format("truetype");
  src: url("../fonts/rockwell-bold.otf") format("opentype"), url("../fonts/rockwell-bold.woff") format("woff"), url("../fonts/rockwell-bold.svg#Raleway-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }

ul.tabs {
  list-style: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 1px solid #63c6e5; }

ul.tabs li {
  padding: 7px 14px;
  border: 1px solid #63c6e5;
  border-bottom: none;
  border-radius: 7px;
  margin-right: 5px;
  border-bottom-left-radius: 0;
  background: #63c6e5;
  border-bottom-right-radius: 0; }

ul.tabs li a {
  color: #FFFFFF;
  font-family: "Raleway-Medium";
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px; }

ul.tabs li.is-active {
  background: #FFFFFF;
  position: relative;
  top: 1px; }

ul.tabs li.is-active a {
  color: #63c6e5; }

.top-container {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2em;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.top-container .column-1 {
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
  margin-left: -6%;
  margin-top: -23%;
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  color: #207DCC;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.top-container .column-1 span:last-child {
  position: relative; }

.top-container .column-1 span:last-child:after {
  content: "";
  position: absolute;
  left: -60%;
  top: 40%;
  width: 55%;
  height: 1px;
  background-color: #207DCC; }

.top-container .column-2 {
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #207DCC;
  font-family: "Raleway-Bold"; }

.top-container .column-2 .header-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1em; }

.top-container .column-2 img {
  max-width: 475px; }

.top-container .column-2 a {
  margin-top: 0.7em;
  background: url("../images/register_now.png") no-repeat scroll center center transparent;
  color: transparent;
  font-size: 2.5em;
  width: 140px;
  background-size: contain; }

.top-container .column-3 {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: -16%; }

@media only screen and (max-width: 768px) {
  .top-container .column-3 {
    display: none; } }

.top-container .column-3 a {
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  margin-bottom: 15px;
  display: block;
  background-size: cover;
  transition: 0.3s all ease;
  opacity: 1; }

.top-container .column-3 a:hover, .top-container .column-3 a:focus, .top-container .column-3 a:active {
  opacity: 0.7; }

.top-container .column-3 a:first-child {
  position: relative; }

.top-container .column-3 a:first-child:after {
  content: "";
  position: absolute;
  top: -222px;
  width: 1px;
  height: 203px;
  left: 50%;
  background-color: #207DCC; }

.top-container .facebook {
  background: url("../images/facebook.svg") no-repeat scroll 0 0 transparent; }

.top-container .twitter {
  background: url("../images/twitter.svg") no-repeat scroll 0 0 transparent; }

.top-container .linkedin {
  background: url("../images/linkedin.svg") no-repeat scroll 0 0 transparent; }

.user-logged-in .top-register-now {
  display: none; }

.region-content .block-region-content .block-block-content:first-child {
  position: relative;
  padding: 8em 0 8em 5em;
  color: #FFFFFF;
  background-image: radial-gradient(ellipse farthest-side at right center, #05AFCC 0%, #207DCC 100%);
  box-sizing: border-box; }

.region-content .block-region-content .block-block-content:first-child h2 {
  margin-top: 0;
  margin-bottom: 0; }

.region-content .block-region-content .block-block-content:first-child .field--name-body strong {
  font-family: "Raleway-Regular";
  font-size: 13px; }

.region-content .block-region-content .block-block-content:first-child .field--name-body p {
  max-width: 550px;
  font-size: 13px;
  font-family: "Raleway-Thin";
  line-height: 1.4; }

.region-content .block-region-content .block-block-content:first-child .field--name-body a {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Raleway-Bold";
  margin-top: 1em;
  letter-spacing: 0.6px;
  display: inline-block;
  padding: 0.6em 18px;
  border-radius: 5px;
  font-size: 11px;
  cursor: pointer;
  display: inline-block; }

.region-content .block-region-content .block-block-content:first-child .field--name-body a:before {
  background: #FFFFFF; }

.region-content .block-region-content .block-block-content:first-child .field--name-body a:hover, .region-content .block-region-content .block-block-content:first-child .field--name-body a:focus, .region-content .block-region-content .block-block-content:first-child .field--name-body a:active {
  color: #207DCC; }

.region-content .block-region-content .block-block-content:first-child .field--name-body img {
  max-width: 340px;
  position: absolute;
  top: -70px;
  right: 0; }

[class*="blocknews-and-updates"] {
  padding: 6em 4em 7em;
  background: #FFFFFF;
  box-sizing: border-box; }

[class*="blocknews-and-updates"] h2 {
  color: #63c6e5;
  margin-bottom: 16px; }

[class*="blocknews-and-updates"] .views-field-title a {
  color: #207DCC;
  font-family: "Raleway-Bold"; }

[class*="blocknews-and-updates"] .views-field-body {
  max-width: 600px; }

[class*="blocknews-and-updates"] .views-field-body p {
  color: #999;
  margin-bottom: 2em; }

[class*="views-blocksession-tracks"] {
  padding: 4em;
  background-image: radial-gradient(ellipse farthest-side at right center, #05AFCC 0%, #207DCC 100%);
  box-sizing: border-box; }

[class*="views-blocksession-tracks"] h2 {
  color: #FFFFFF !important;
  text-align: center;
  margin-bottom: 1.5em;
  color: #63c6e5; }

[class*="views-blocksession-tracks"] a {
  color: #FFFFFF; }

[class*="views-blocksession-tracks"] .view-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }

[class*="views-blocksession-tracks"] .view-footer a {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Raleway-Bold";
  margin-top: 1em;
  letter-spacing: 0.6px;
  display: inline-block;
  padding: 0.6em 18px;
  border-radius: 5px;
  font-size: 11px;
  cursor: pointer;
  display: inline-block; }

[class*="views-blocksession-tracks"] .view-footer a:before {
  background: #FFFFFF; }

[class*="views-blocksession-tracks"] .view-footer a:hover, [class*="views-blocksession-tracks"] .view-footer a:focus, [class*="views-blocksession-tracks"] .view-footer a:active {
  color: #207DCC; }

.view-session-tracks .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media only screen and (max-width: 768px) {
  .view-session-tracks .view-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; } }

.view-session-tracks .view-content .field-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center; }

.view-session-tracks .view-content a {
  font-family: "Raleway-Medium";
  font-size: 15px; }

.view-session-tracks .view-content img {
  height: 45px;
  width: auto; }

.view-session-tracks .view-content .views-row {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  margin-bottom: 2em; }

@media only screen and (max-width: 768px) {
  .view-session-tracks .view-content .views-row {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; } }

.view-session-tracks .view-content .views-field-field-logo {
  margin-bottom: 0.5em; }

[class*="views-blockspronsors"] {
  padding: 2em 4em 4em;
  box-sizing: border-box;
  position: relative; }

[class*="views-blockspronsors"]:after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: radial-gradient(ellipse farthest-side at right center, #05AFCC 0%, #207DCC 100%);
  height: 40%;
  width: 100%;
  left: 0;
  z-index: -1; }

[class*="views-blockspronsors"] h2 {
  text-align: center;
  margin-bottom: 1.1em;
  color: #63c6e5 !important; }

[class*="views-blockspronsors"] .view-content {
  margin-top: 4em;
  background: #FFFFFF;
  padding: 1em 3em;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 60%;
  margin: 0 auto; }

[class*="views-blockspronsors"] .view-content h3 {
  text-align: center;
  margin-bottom: 2em;
  color: #207DCC;
  font-family: "Raleway-Bold"; }

[class*="views-blockspronsors"] .view-content img {
  height: auto;
  max-width: 200px;
  width: auto; }

[class*="views-blockspronsors"] .view-content ul {
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

[class*="views-blockspronsors"] .view-content ul:after {
  content: "";
  background: url("../images/separator.svg") no-repeat scroll left bottom transparent;
  background-size: 100%;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.2; }

[class*="views-blockspronsors"] .view-content .item-list:last-child ul:after {
  background: none; }

@media only screen and (max-width: 768px) {
  [class*="views-blockspronsors"] .view-content .item-list ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
  [class*="views-blockspronsors"] .view-content .item-list ul li {
    margin-right: 0;
    -ms-flex-pack: center;
    justify-content: center; } }

[class*="views-blockspronsors"] .view-content li {
  margin-bottom: 2em;
  margin-right: 3em;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

[class*="views-blockspronsors"] .view-content li:last-child {
  margin-right: 0; }

.become-sponsors {
  padding: 8em 4em;
  position: relative;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -ms-flexbox;
  display: flex; }

.become-sponsors img {
  max-width: 370px;
  position: absolute;
  left: 0;
  top: -30%; }

.become-sponsors .become-sponsors-content {
  width: 600px;
  text-align: right; }

@media only screen and (max-width: 768px) {
  .become-sponsors .become-sponsors-content {
    text-align: center; } }

.become-sponsors .become-sponsors-content h3 {
  color: #63c6e5;
  margin-bottom: 0.4em; }

.become-sponsors .become-sponsors-content h4 {
  margin-top: 0;
  font-family: "Raleway-Bold";
  font-size: 15px;
  color: #207DCC; }

.become-sponsors .become-sponsors-content p {
  margin: 0;
  color: #999;
  line-height: 1.2;
  font-size: 15px; }

.become-sponsors .become-sponsors-content a {
  margin-top: 2em;
  background-image: linear-gradient(to right, #6DE5EC 0%, #00aeee 100%);
  display: inline-block;
  font-size: 11px;
  cursor: pointer;
  font-family: "Raleway-Bold";
  text-transform: uppercase;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.2);
  padding: 7px 25px;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s all ease; }

.become-sponsors .become-sponsors-content a:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3); }

ul.menu {
  list-style: none;
  display: -ms-flexbox;
  display: flex; }

ul.menu a {
  font-family: "Rockwell-regular"; }

.menu--main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.menu--main .menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0; }

.menu--main a {
  text-transform: uppercase; }

.menu--main .menu-item--expanded {
  position: relative; }

.menu--main .menu-item--expanded > a {
  position: relative;
  padding-bottom: 0.8em; }

.menu--main .menu-item--expanded > a:after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 0;
  opacity: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  transition: 0.3s all ease;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #207DCC; }

.menu--main .menu-item--expanded .menu {
  position: absolute;
  padding: 0;
  opacity: 0;
  margin-top: 0.7em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 200px;
  background: #207DCC;
  padding: 10px;
  z-index: 1;
  transition: 0.3s all ease; }

.menu--main .menu-item--expanded .menu li {
  margin-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
  margin-right: 0;
  padding-bottom: 0.2em; }

.menu--main .menu-item--expanded .menu li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0; }

.menu--main .menu-item--expanded .menu a {
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0.5px; }

.menu--main .menu-item--expanded:hover .menu, .menu--main .menu-item--expanded:focus .menu {
  opacity: 1; }

.menu--main .menu-item--expanded:hover > a:after, .menu--main .menu-item--expanded:focus > a:after {
  opacity: 1; }

@media only screen and (max-width: 768px) {
  .menu--main {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px; }
  .menu--main .visually-hidden {
    overflow: visible;
    height: 40px;
    width: 40px;
    right: 0;
    clip: inherit;
    font-size: 0;
    margin-bottom: 0;
    background: url("../images/hamburger.png") no-repeat scroll 0 center transparent;
    background-size: contain; }
  .menu--main > .menu {
    position: absolute;
    right: 0;
    top: 150%;
    padding: 20px;
    background: #207DCC;
    z-index: 10;
    min-width: 300px;
    display: none;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  .menu--main > .menu:after {
    content: "";
    position: absolute;
    top: -14px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    transition: 0.3s all ease;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #207DCC;
    right: 0; }
  .menu--main > .menu li {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #FFFFFF; }
  .menu--main > .menu li a {
    color: #FFFFFF; }
  .menu--main > .menu li:last-child {
    margin-bottom: 0;
    border-bottom: none; }
  .menu--main .menu-item--expanded .menu {
    position: relative;
    opacity: 1;
    margin-top: 0;
    background: transparent;
    padding-left: 1.3em; }
  .menu--main .menu-item--expanded .menu li {
    border-bottom: none; }
  .menu--main .menu-item--expanded .menu a {
    color: #FFFFFF; } }

.page-title {
  color: #63c6e5; }

.messages {
  margin: 1em 2em; }

[id*="edit-sponsorship-registration"],
[id*="edit-volunteer"] {
  width: 40%; }

@media only screen and (max-width: 768px) {
  [id*="edit-sponsorship-registration"],
  [id*="edit-volunteer"] {
    width: 100%; } }

[id*="edit-sponsorship-registration"] input[type="text"],
[id*="edit-sponsorship-registration"] input[type="tel"],
[id*="edit-sponsorship-registration"] input[type="email"],
[id*="edit-sponsorship-registration"] .select2-container,
[id*="edit-sponsorship-registration"] .intl-tel-input,
[id*="edit-volunteer"] input[type="text"],
[id*="edit-volunteer"] input[type="tel"],
[id*="edit-volunteer"] input[type="email"],
[id*="edit-volunteer"] .select2-container,
[id*="edit-volunteer"] .intl-tel-input {
  width: 100%;
  box-sizing: border-box; }

[id*="edit-sponsorship-registration"] label,
[id*="edit-volunteer"] label {
  display: -ms-flexbox;
  display: flex; }

[id*="edit-sponsorship-registration"] .select2-container,
[id*="edit-sponsorship-registration"] .intl-tel-input,
[id*="edit-volunteer"] .select2-container,
[id*="edit-volunteer"] .intl-tel-input {
  margin-bottom: 1em; }

.view-sessions-list .view-header {
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #e6e6e6; }

.view-sessions-list .item-list h3 {
  text-align: center;
  font-size: 24px;
  color: #207DCC;
  letter-spacing: 1px;
  font-family: "Rockwell-bold";
  margin-top: 2em; }

.view-sessions-list .item-list:first-child h3 {
  margin-top: 0; }

.view-sessions-list .item-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.view-sessions-list .item-list li {
  margin: 0 0 0.9em 0;
  -ms-flex-preferred-size: 29.6%;
  flex-basis: 29.6%;
  padding: 1em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

@media only screen and (max-width: 768px) {
  .view-sessions-list .item-list li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; } }

.view-sessions-list .item-list li:nth-child(3n+2) {
  margin-left: 1%;
  margin-right: 1%; }

.view-sessions-list .item-list .views-field-nothing {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%; }

.view-sessions-list .item-list .views-field-nothing span {
  width: 100%; }

.view-sessions-list .wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

.view-sessions-list .wrapper .left-content {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  margin-right: 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.view-sessions-list .wrapper .right-content {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.view-sessions-list .wrapper .right-content a {
  color: #207DCC;
  font-size: 15px;
  font-weight: 600;
  font-family: "Raleway-Medium"; }

.view-sessions-list .wrapper .right-content a:hover {
  color: gray; }

.view-sessions-list .wrapper .bottom-content {
  padding-top: 4px;
  border-top: 1px solid #63c6e5; }

.view-sessions-list .wrapper .bottom-content a {
  font-size: 14px;
  color: #999;
  font-family: "Raleway-Regular"; }

.vocabulary-tracks .field--name-name {
  display: none; }

.view-id-news_and_updates {
  margin-top: 3em; }

.view-id-news_and_updates .views-row {
  padding-bottom: 2em;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 2em; }

@media only screen and (max-width: 768px) {
  .view-id-news_and_updates .views-row {
    margin-bottom: 0;
    padding-bottom: 0; } }

.view-id-news_and_updates .views-row .field-content p:last-child {
  margin-bottom: 0; }

.view-id-news_and_updates .views-row:last-child {
  border-bottom: none; }

.view-id-news_and_updates .views-field-title a {
  font-size: 18px; }

.node--type-session .node__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.node--type-session .field--name-title {
  color: #63c6e5;
  margin-bottom: 1em;
  display: -ms-flexbox;
  display: flex; }

.node--type-session .layout__region--first {
  -ms-flex-preferred-size: 72%;
  flex-basis: 72%;
  padding-right: 2%; }

@media only screen and (max-width: 768px) {
  .node--type-session .layout__region--first {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 1.5em; } }

.node--type-session .layout__region--first .field__label {
  font-size: 18px;
  border-bottom: 2px solid #207DCC; }

.node--type-session .layout--twocol {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.node--type-session .layout__region--second {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }

@media only screen and (max-width: 768px) {
  .node--type-session .layout__region--second {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; } }

.node--type-session .layout__region--second .block-region-second {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 1px solid #3e96e1; }

.node--type-session .layout__region--second .field__label {
  font-size: 16px;
  display: -ms-flexbox;
  display: flex; }

.node--type-session .layout__region--second .field__item {
  font-size: 14px; }

.node--type-session .layout__region--second .block .field__label {
  padding: 1em;
  color: #FFFFFF;
  background: #207DCC; }

.node--type-session .layout__region--second .block .field__item {
  padding: 1em; }

.node--type-session .layout__region--second .block .field__items {
  padding: 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.node--type-session .layout__region--second .block .field__items .field__item {
  padding: 0; }

.node--type-session .layout__region--second .block .field__items .field__item:after {
  content: ",";
  margin-right: 0.3em; }

.node--type-session .layout__region--second .block .field__items .field__item:last-child:after {
  display: none; }

.node--type-session .layout__region--second .block:first-child .field__label {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; }

.node--type-session .field__label {
  font-family: "Raleway-Bold";
  display: inline;
  color: #207DCC; }

.node--type-session ul li {
  margin-bottom: 0.5em; }

.path-session-detail .layout--twocol {
  border: 3px solid grey;
  padding: 10px;
  border-radius: 10px; }

.path-session-detail .layout .block-entity-fieldnodefield-tracks {
  border-bottom: 2px solid grey;
  padding-bottom: 15px; }

.path-session-detail .layout .block-entity-fieldnodefield-tracks .field__label {
  display: none; }

.path-session-detail .layout .block-entity-fieldnodefield-tracks .field__item {
  font-weight: bold; }

.path-session-detail .layout .block-region-second {
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px; }

.path-session-detail .layout .views-field-user-picture {
  border-bottom: 1px solid grey;
  padding-bottom: 5px; }

.path-session-detail .layout .views-field-nothing,
.path-session-detail .layout .views-field-field-organisation-institution,
.path-session-detail .layout .views-field-field-job-title {
  font-weight: bold;
  padding-top: 5px; }

.region-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative; }

.page-wrapper {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto; }

@media only screen and (max-width: 768px) {
  iframe {
    max-width: 100%; } }

.region-content {
  padding: 3em 4em 3em; }

@media only screen and (max-width: 768px) {
  .region-content {
    padding: 1em 10px 1em; } }

.path-frontpage .region-content {
  padding: 0; }

.header {
  padding: 15px;
  min-height: 500px; }

.block-block-content {
  width: 100%; }

.region-header-bottom {
  display: -ms-flexbox;
  display: flex; }

.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.path-user .region-content {
  padding: 4em; }

@media only screen and (max-width: 768px) {
  .path-user .region-content {
    padding: 2em 10px 1em; } }

.region-content .page-title {
  margin-top: 0; }

@media only screen and (max-width: 768px) {
  .layout-container {
    margin: 0; } }

.button--danger,
input[value="Delete"],
input[value="Remove"] {
  margin-left: 10px;
  margin-right: 10px;
  color: #FFFFFF;
  padding: 7px 25px;
  background-color: #d9534f;
  border-color: #d43f3a;
  background-image: none; }

.block-system-branding-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.region-header .menu--account {
  position: absolute;
  right: 0; }

@media only screen and (max-width: 768px) {
  .region-header .menu--account {
    display: none; } }

.header {
  background: url("../images/banner.png") no-repeat scroll 0 0 transparent;
  background-size: cover; }

@media only screen and (max-width: 768px) {
  .header {
    background-position: -480px 0; } }

ul li {
  margin-right: 1.4em; }

.site-logo img {
  display: block;
  width: 200px; }

body:not(.user-logged-in) .menu--account .menu-item a {
  text-transform: uppercase;
  background: #207DCC;
  padding: 7px 27px;
  font-size: 13px;
  border-radius: 30px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  box-shadow: none;
  transition: 0.5s all ease; }

body:not(.user-logged-in) .menu--account .menu-item a:hover {
  box-shadow: 0px 3px 3px 3px rgba(255, 255, 255, 0.6); }

.site-footer {
  background: url("../images/footer_bg.png") no-repeat scroll 0 0;
  padding: 100px 0 0;
  background-size: cover; }

.region-footer-first {
  padding-left: 80px; }

.region-footer-second {
  border-top: solid 2px white;
  margin-top: 100px; }

.region-footer-second p {
  color: white;
  font-size: 12px; }

.region-footer-second .field--name-body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 10px;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.region-footer-second .field--name-body:after {
  display: none; }

@media only screen and (max-width: 768px) {
  .region-footer-second .field--name-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
  .region-footer-second .field--name-body p:first-child {
    margin-bottom: 0; } }

.menu--footer ul.menu {
  padding: 0; }

@media only screen and (max-width: 768px) {
  .menu--footer ul.menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; } }

.menu--footer ul.menu ul.menu {
  display: block; }

.menu--footer > ul.menu > li {
  width: 25%; }

.menu--footer > ul.menu > li > span {
  margin-bottom: 35px;
  font-size: 18px;
  color: #FFFFFF;
  display: -ms-flexbox;
  display: flex;
  font-family: "Rockwell-regular"; }

@media only screen and (max-width: 768px) {
  .menu--footer > ul.menu > li > span {
    margin-bottom: 10px; } }

.menu--footer > ul.menu > li:last-of-type li {
  display: inline-block;
  margin: 0; }

.menu--footer > ul.menu > li:last-of-type li a {
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  display: block;
  background-size: cover;
  background: url("../images/footer_fb.svg") no-repeat scroll 0 0 transparent;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.7s all ease;
  margin-right: 10px; }

.menu--footer > ul.menu > li:last-of-type li a:hover {
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

.menu--footer > ul.menu > li:last-of-type li:nth-child(2) a {
  background: url("../images/footer_twitter.svg") no-repeat scroll 0 0 transparent; }

.menu--footer > ul.menu > li:last-of-type li:nth-child(3) a {
  background: url("../images/footer_youtube.svg") no-repeat scroll 0 0 transparent; }

.menu--footer li a {
  color: white;
  display: inline-block;
  margin: 10px 0;
  font-family: "Raleway-Regular";
  font-size: 14px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 1, 2018, 12:24:02 PM
    Author     : yogendra
*/
form {
  margin: 2em 0; }

form .form-item {
  width: 100%; }

form label {
  font-family: "Raleway-Bold";
  color: #63c6e5;
  font-size: 14px;
  margin-bottom: 0.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

form input, form textarea, form select {
  padding: 8px 12px;
  font-size: 14px;
  margin-bottom: 1em;
  border: 1px solid #63c6e5;
  border-radius: 3px;
  outline: none;
  transition: 0.4s all ease; }

@media only screen and (max-width: 768px) {
  form input, form textarea, form select {
    box-sizing: border-box; }
  form input:not([type="checkbox"]), form textarea:not([type="checkbox"]), form select:not([type="checkbox"]) {
    width: 100%; } }

form input:focus, form input:active, form textarea:focus, form textarea:active, form select:focus, form select:active {
  border: 1px solid #63c6e5;
  border-bottom: 2px solid #63c6e5; }

@media only screen and (max-width: 768px) {
  form input[type="submit"] {
    width: inherit; } }

form .form-submit {
  border: none; }

form .form-submit:hover, form .form-submit:focus {
  border: none; }

form .filter-wrapper {
  display: none; }

form p {
  margin-top: 0; }

form .tips {
  color: #63c6e5;
  list-style: disc;
  padding-left: 1.5em;
  font-size: 12px; }

form .tips li {
  margin-bottom: 0.5em; }

form .filter-help a {
  color: #63c6e5;
  font-size: 12px; }

form .webform-element-help {
  color: #FFFFFF !important;
  font-size: 12px;
  background: #63c6e5;
  border: none; }

form .webform-element-help:hover {
  border: none; }

form .form-required:after {
  content: "*";
  color: red;
  margin-left: 2px;
  font-size: 16px; }

#field-speakers-add-more-wrapper,
#edit-field-speakers-wrapper {
  text-align: left; }

#field-speakers-add-more-wrapper .tabledrag-toggle-weight-wrapper,
#edit-field-speakers-wrapper .tabledrag-toggle-weight-wrapper {
  display: none; }

.form-type-checkbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center; }

[class*="field-are-you-a-speaker"] {
  margin-top: 2em; }

[class*="field-are-you-a-speaker"] input, [class*="field-are-you-a-speaker"] label {
  margin: 0; }

[class*="field-are-you-a-speaker"] input {
  margin-right: 0.6em; }

textarea {
  width: 100%;
  margin-bottom: 0 !important; }

.text-format-wrapper .filter-wrapper {
  width: 100%; }

.form-type-checkbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.form-type-checkbox input, .form-type-checkbox label {
  margin: 0 5px 0 0; }

.form-type-checkbox label {
  font-family: "Raleway-Regular";
  color: #999; }

.node-session-edit-form .field--type-text-long,
.node-session-edit-form .field--type-text-with-summary,
.node-session-form .field--type-text-long,
.node-session-form .field--type-text-with-summary {
  margin-bottom: 1em; }

.formtip {
  background: #63c6e5; }

.webform-submission-volunteer-form legend {
  font-family: "Raleway-Bold";
  color: #63c6e5;
  margin-bottom: 0.7em !important; }

.webform-submission-volunteer-form .fieldset-wrapper {
  border: none; }

.webform-submission-volunteer-form .fieldset-wrapper .form-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1em; }

.webform-submission-volunteer-form .fieldset-wrapper .form-item input, .webform-submission-volunteer-form .fieldset-wrapper .form-item label {
  margin: 0; }

.webform-submission-volunteer-form .fieldset-wrapper .form-item label {
  color: #666666;
  font-family: "Raleway-Regular"; }

.webform-submission-volunteer-form .fieldset-wrapper .form-item input {
  margin-right: 0.5em; }

.contact-message-form .form-item-mail,
.contact-message-form .form-item-name {
  margin-bottom: 1.5em; }

input[value="Preview"] {
  display: none; }

.user-form {
  width: 40%; }

@media only screen and (max-width: 768px) {
  .user-form {
    width: 100%; } }

.user-form input,
.user-form select,
.user-form .form-type-password {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; }

.user-form input[type="submit"] {
  max-width: inherit;
  width: inherit; }

#webform-submission-drupal-dorm-for-male-drupalers-add-form .fieldset-legend {
  font-family: "Raleway-Bold";
  color: #63c6e5;
  font-size: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

#webform-submission-drupal-dorm-for-male-drupalers-add-form .form-radios,
#webform-submission-drupal-dorm-for-male-drupalers-add-form .form-checkboxes {
  margin: 1em 0; }

#webform-submission-drupal-dorm-for-male-drupalers-add-form .form-radios .form-item,
#webform-submission-drupal-dorm-for-male-drupalers-add-form .form-checkboxes .form-item {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em; }

#webform-submission-drupal-dorm-for-male-drupalers-add-form .form-radios .form-item:last-child,
#webform-submission-drupal-dorm-for-male-drupalers-add-form .form-checkboxes .form-item:last-child {
  margin-bottom: 0; }

#webform-submission-drupal-dorm-for-male-drupalers-add-form .form-radios .form-item input,
#webform-submission-drupal-dorm-for-male-drupalers-add-form .form-checkboxes .form-item input {
  margin-right: 0.6em;
  margin-bottom: 0; }

#webform-submission-drupal-dorm-for-male-drupalers-add-form .form-radios .form-item label,
#webform-submission-drupal-dorm-for-male-drupalers-add-form .form-checkboxes .form-item label {
  margin-bottom: 0;
  line-height: 1; }

.profile {
  position: relative; }

.profile [class*="field--name-"],
.profile .form-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  margin: 0 0 1em 0; }

.profile .field--name-user-picture {
  position: absolute;
  right: 0; }

@media only screen and (max-width: 768px) {
  .profile .field--name-user-picture {
    position: relative; } }

.profile .field__label,
.profile .form-item .label {
  -ms-flex-preferred-size: 17%;
  flex-basis: 17%;
  font-weight: normal;
  margin: 0 1em 0 0;
  color: #209bc2; }

@media only screen and (max-width: 768px) {
  .profile .field__label,
  .profile .form-item .label {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; } }

.profile .field__label:after,
.profile .form-item .label:after {
  content: " : ";
  font-weight: bold; }

.profile .field__item p {
  margin: 0; }

/** testtesttest */
@media only screen and (max-width: 768px) {
  .top-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .top-container .column-1 {
    -ms-transform: none;
    transform: none;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center; }
  .top-container .column-1 span:last-child:after {
    display: none; }
  .top-container .column-2 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .top-container .column-2 img {
    width: 100%; }
  .region-content .block-region-content .block-block-content:first-child {
    padding: 2em 1em; }
  .region-content .block-region-content .block-block-content:first-child .field--name-body img {
    display: none; }
  [class*="blocknews-and-updates"],
  [class*="views-blocksession-tracks"],
  [class*="views-blockspronsors"] {
    padding: 2em 1em; }
  [class*="views-blockspronsors"] .view-content {
    max-width: 100%; }
  .become-sponsors {
    padding: 2em 1em; }
  .become-sponsors img {
    display: none; }
  .region-footer-first {
    padding-left: 15px; }
  .site-footer {
    padding-top: 20px;
    padding-bottom: 0; }
  .region-footer-second {
    margin-top: 20px;
    padding-top: 0; }
  .menu--footer > ul.menu > li {
    width: 90%;
    margin: 0 0 30px; }
  .menu--footer > ul.menu > li > a {
    margin-bottom: 10px; } }

.pager ul {
  list-style: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center; }

.schedule img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: none; }

.tabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 1em; }

.tabs > div {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  text-align: center;
  padding: 10px;
  border: 1px solid #63c6e5;
  color: #63c6e5;
  cursor: pointer; }

.tabs > div.active {
  color: #FFFFFF;
  background: #63c6e5; }

.view-attendees .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.view-attendees .views-row {
  margin: 0 0 0.9em 0;
  -ms-flex-preferred-size: 13%;
  flex-basis: 13%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.view-attendees .views-row .bottom-content {
  padding-top: 0.4em;
  font-size: 12px;
  margin-top: 0.3em;
  border-top: 1px solid #63c6e5; }

.view-attendees .view-filters .form--inline {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.view-attendees .view-filters .form-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 24%;
  margin-right: 1%; }

/*# sourceMappingURL=main.css.map */
