.view-attendees {
    .view-content {
        @include flex(row);
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .views-row {
        margin: 0 0 0.9em 0;
        flex-basis: 13%;
        @include flex(column);
        text-align: center;
        padding: 1em;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        justify-content: space-between;
        .bottom-content {
            padding-top: 0.4em;
            font-size: 12px;
            margin-top: 0.3em;
            border-top: 1px solid #63c6e5;
        }
    }
    .view-filters {
        .form--inline {
            flex-wrap: wrap;
            @include flex(row);
        }
        .form-item {
            @include flex(column);
            width: 24%;
            margin-right: 1%;
        }
    }
}
