.page-title {
    @extend .heading;
    color: $color_light_blue;
}
.messages {
    margin: 1em 2em;
}

[id*="edit-sponsorship-registration"],
[id*="edit-volunteer"] {
    width: 40%;
    @include mobile {
        width: 100%;
    }
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    .select2-container,
    .intl-tel-input {
        width: 100%;
        box-sizing: border-box;
    }
    label {
        display: flex;
    }
    .select2-container,
    .intl-tel-input {
        margin-bottom: 1em;
    }
}

.view-sessions-list {
    .view-header {
        font-size: 15px;
        line-height: 1.5;
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid lighten($color_grey, 30%);
    }
    .item-list {
        h3 {
            text-align: center;
            font-size: 24px;
            color: $color_links;
            letter-spacing: 1px;
            font-family: $rockwell-bold;
            margin-top: 2em;
        }
        &:first-child {
            h3 {
                margin-top: 0;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            @include flex(row);
            flex-wrap: wrap;
        }
        li {
            margin: 0 0 0.9em 0;
            flex-basis: 29.6%;
            padding: 1em;
            box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
            border-radius: 5px;
            @include mobile {
                flex-basis: 100%;
            }
            &:nth-child(3n+2) {
                margin-left: 1%;
                margin-right: 1%;
            }
        }
        .views-field-nothing {
            @include flex(row);
            height: 100%;
            span {
                width: 100%;
            }
        }
    }
    .wrapper {
        @include flex(row);
        flex-basis: 100%;
        .left-content {
            flex-basis: 25%;
            margin-right: 1em;
            display: flex;
            align-items: center;
        }
        .right-content {
            flex-basis: 75%;
            @include flex(column);
            justify-content: space-between;
            a {
                color: $color_links;
                font-size: 15px;
                font-weight: 600;
                font-family: $raleway-medium;
                &:hover {
                    color: darken($color_grey, 10%);
                }
            }
        }
        .bottom-content {
            padding-top: 4px;
            border-top: 1px solid $color_light_blue;
            a {
                font-size: 14px;
                color: $color_grey;
                font-family: $raleway-regular;
            }
        }
    }
}

.vocabulary-tracks {
    .field--name-name {
        display: none;
    }
}

.view-id-news_and_updates {
    margin-top: 3em;
    .views-row {
        padding-bottom: 2em;
        border-bottom: 1px solid lighten($color_grey, 30%);
        margin-bottom: 2em;
        @include mobile {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .field-content {
            p:last-child {
                margin-bottom: 0;
            }
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .views-field-title {
        a {
            @extend .heading;
            font-size: 18px;
        }
    }
}

.node--type-session {
    .node__content {
        @include flex(row-reverse);
    }
    .field--name-title {
        @extend .heading;
        color: $color_light_blue;
        margin-bottom: 1em;
        display: flex;
    }
    .layout__region--first {
        flex-basis: 72%;
        padding-right: 2%;
        @include mobile {
            flex-basis: 100%;
            margin-bottom: 1.5em;
        }
        .field__label {
            font-size: 18px;
            border-bottom: 2px solid $color_links;
        }
    }
    .layout--twocol {
        @include flex(row);
    }
    .layout__region--second {
        flex-basis: 25%;
        @include mobile {
            flex-basis: 100%;
        }
        .block-region-second {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            border: 1px solid lighten($color_links, 10%);
        }
        .field__label {
            font-size: 16px;
            display: flex;
        }
        .field__item {
            font-size: 14px;
        }
        .block {
            .field__label {
                padding: 1em;
                color: $white;
                background: $color_links;
            }
            .field__item {
                padding: 1em;
            }
            .field__items {
                padding: 1em;
                @include flex(row);
                .field__item {
                    padding: 0;
                    &:after {
                        content: ",";
                        margin-right: 0.3em;
                    }
                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            &:first-child() {
                .field__label {
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                }
            }
        }
    }
    .field__label {
        font-family: $raleway-bold;
        display: inline;
        color: $color_links;
    }
    ul li {
        margin-bottom: 0.5em;
    }
}

// Temporary SCSS, will be deleted in future.
// Sass for session detail page
.path-session-detail {
    .layout {
        &----twocol {
            border: 3px solid grey;
            padding: 10px;
            border-radius: 10px;
        }
        .block-entity-fieldnodefield-tracks {
            border-bottom: 2px solid grey;
            padding-bottom: 15px;
            .field__label {
                display: none;
            }
            .field__item {
                font-weight: bold;
            }
        }

        .block-region-second {
            border-radius: 5px;
            border: 2px solid grey;
            padding: 10px;
        }

        .views-field-user-picture {
            border-bottom: 1px solid grey;
            padding-bottom: 5px;
        }

        .views-field-nothing,
        .views-field-field-organisation-institution,
        .views-field-field-job-title {
            font-weight: bold;
            padding-top: 5px;
        }
    }
}
