.page-title {
    @extend .heading;
    color: $color_light_blue;
}
.messages {
    margin: 1em 2em;
}
.path-sessions-list,
.page-node-type-session,
.path-node,
.path-webform {
    .block-page-title-block {
        // padding: 3em 4em 0;
    }
}

.path-node,
.path-webform {
    .block-system-main-block {
        // padding: 0 4em 3em;
    }
    .tabs {
        // margin: 0 2em;
    }
}

#edit-sponsorship-registration,
#edit-volunteer {
    width: 40%;
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    .select2-container,
    .intl-tel-input {
        width: 100%;
        box-sizing: border-box;
    }
    label {
        display: flex;
    }
    .select2-container,
    .intl-tel-input {
        margin-bottom: 1em;
    }
}

.view-sessions-list {
    // padding: 0 4em 3em;
    .view-header {
        font-size: 15px;
        line-height: 1.5;
        color: $color_grey;
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid lighten($color_grey, 30%);
        p {
            max-width: 700px;
        }
    }
    .item-list {
        h3 {
            text-align: center;
            font-size: 24px;
            color: $color_links;
            letter-spacing: 1px;
            font-family: $rockwell-bold;
            margin-top: 2em;
        }
        &:first-child {
            h3 {
                margin-top: 0;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            @include flex(row);
            flex-wrap: wrap;
        }
        li {
            margin: 0 0 0.9em 0;
            flex-basis: 29.6%;
            padding: 1em;
            box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
            border-radius: 5px;
            &:nth-child(3n+2) {
                margin-left: 1%;
                margin-right: 1%;
            }
        }
        .views-field-nothing {
            @include flex(row);
            height: 100%;
            span {
                width: 100%;
            }
        }
    }
    .wrapper {
        @include flex(row);
        flex-basis: 100%;
        .left-content {
            flex-basis: 25%;
            margin-right: 1em;
            display: flex;
            align-items: center;
        }
        .right-content {
            flex-basis: 75%;
            @include flex(column);
            justify-content: space-between;
            a {
                color: $color_grey;
                font-size: 15px;
                font-family: $raleway-medium;
                &:hover {
                    color: darken($color_grey, 10%);
                }
            }
        }
        .bottom-content {
            padding-top: 4px;
            border-top: 1px solid $color_light_blue;
            a {
                font-size: 14px;
                font-family: $raleway-regular;
            }
        }
    }
}

.node--type-session {
    .node__content {
        @include flex(row-reverse);
    }
    .field--name-title {
        @extend .heading;
        color: $color_light_blue;
        margin-bottom: 1em;
        display: flex;
    }
    .layout__region--first {
        flex-basis: 72%;
        padding-right: 2%;
        .field__label {
            font-size: 18px;
            border-bottom: 2px solid $color_links;
        }
    }
    .layout--twocol {
        @include flex(row);
    }
    .layout__region--second {
        flex-basis: 25%;
        border: 1px solid lighten($color_links, 10%);
        border-radius: 7px;
        .field__label {
            font-size: 16px;
            display: flex;
        }
        .field__item {
            font-size: 14px;
        }
        .block {
            .field__label {
                padding: 1em;
                color: $white;
                background: $color_links;
            }
            .field__item {
                padding: 1em;
            }
            .field__items {
                padding: 1em;
                @include flex(row);
                .field__item {
                    padding: 0;
                    &:after {
                        content: ",";
                        margin-right: 0.3em;
                    }
                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            &:nth-child(odd) {
                // background: lighten($color_grey, 38%);
                // border-top: 1px solid lighten($color_grey, 34%);
                // border-bottom: 1px solid lighten($color_grey, 34%);
                // border-top-left-radius: 7px;
                // border-top-right-radius: 7px;
            }
            &:first-child() {
                .field__label {
                    // border-top: none;
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                }
            }
        }
    }
    .field__label {
        font-family: $raleway-bold;
        display: inline;
        color: $color_links;
    }
    ul li {
        margin-bottom: 0.5em;
    }
}