.site-footer {
  background: url("../images/footer_bg.png") no-repeat scroll 0 0;
  padding: 100px 0 30px;
  background-size: cover;
}

.region-footer-first {
  padding-left: 80px;
}

.region-footer-second {
  padding-top: 30px;
  border-top: solid 2px white;
  margin-top: 100px;

  p {
    color: white;
    text-align: center;
  }
}

.menu--footer {
  ul.menu {
    padding: 0;

    ul.menu{
      display: block;
    }
  }

  > ul.menu > li {
    width: 25%;

    > a {
      margin-bottom: 35px;
      font-size: 18px;
      font-family: $rockwell-regular;
    }

    &:last-of-type li {
      display: inline-block;
      margin: 0;

      a {
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        display: block;
        background-size: cover;
        background: url("../images/twitter.svg") no-repeat scroll 0 0 transparent;
        margin-right: 10px;
      }
    }
  }

  li a {
    color: white;
    display: inline-block;
    margin: 10px 0;
    font-family: $raleway-regular;
    font-size: 14px;
  }
}
