.site-footer {
  background: url("../images/footer_bg.png") no-repeat scroll 0 0;
  padding: 100px 0 0;
  background-size: cover;
}

.region-footer-first {
  padding-left: 80px;
}

.region-footer-second {
  border-top: solid 2px white;
  margin-top: 100px;
  p {
    color: white;
    font-size: 12px;
  }
  .field--name-body {
    @include flex(row);
    padding: 0 10px;
    justify-content: space-between;
    &:after {
      display: none;
    }
  }
}

.menu--footer {
  ul.menu {
    padding: 0;

    ul.menu{
      display: block;
    }
  }

  > ul.menu > li {
    width: 25%;

    > span {
      margin-bottom: 35px;
      font-size: 18px;
      color: $white;
      display: flex;
      font-family: $rockwell-regular;
    }

    &:last-of-type li {
      display: inline-block;
      margin: 0;

      a {
        width: 25px;
        height: 25px;
        text-indent: -9999px;
        display: block;
        background-size: cover;
        background: url("../images/footer_fb.svg") no-repeat scroll 0 0 transparent;
        transform: rotate(0deg);
        transition: 0.7s all ease;
        margin-right: 10px;
        &:hover {
          transform: rotate(360deg);
        }
      }
      &:nth-child(2) {
        a {
          background: url("../images/footer_twitter.svg") no-repeat scroll 0 0 transparent;
        }
      }
      &:nth-child(3) {
        a {
          background: url("../images/footer_youtube.svg") no-repeat scroll 0 0 transparent;
        }
      }
    }
  }

  li a {
    color: white;
    display: inline-block;
    margin: 10px 0;
    font-family: $raleway-regular;
    font-size: 14px;
  }
}

@media (max-width: 47.99em) {
  .top-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .top-container .column-1 {
    -ms-transform: none;
        transform: none;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .top-container .column-1 span:last-child:after {
    display: none;
  }
  .top-container .column-2 {
    -ms-flex-preferred-size: 100%;
    margin-top: 43px;
        flex-basis: 100%;
  }
  .top-container .column-2 img {
    width: 100%;
  }
  .region-content .block-region-content .block-block-content:first-child {
    padding: 2em 1em;
  }
  .region-content .block-region-content .block-block-content:first-child .field--name-body img {
    display: none;
  }
  [class*="blocknews-and-updates"],
  [class*="views-blocksession-tracks"],
  [class*="views-blockspronsors"] {
    padding: 2em 1em;
  }
  [class*="views-blockspronsors"] .view-content {
    max-width: 100%;
  }
  .become-sponsors {
    padding: 2em 1em;
  }
  .become-sponsors img {
    display: none;
  }
  .region-footer-first {
    padding-left: 15px;
  }
  .site-footer {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .region-footer-second {
    margin-top: 20px;
    padding-top: 0;
  }
  .menu--footer > ul.menu > li {
    width: 50%;
    margin: 0;
  }
  .menu--footer > ul.menu > li > a {
    margin-bottom: 10px;
  }
}
