.site-footer {
  background: url("../images/footer_bg.png") no-repeat scroll 0 0;
  padding: 100px 0 0;
  background-size: cover;
}

.region-footer-first {
  padding-left: 80px;
}

.region-footer-second {
  border-top: solid 2px white;
  margin-top: 100px;
  p {
    color: white;
    font-size: 12px;
  }
  .field--name-body {
    @include flex(row);
    padding: 0 10px;
    justify-content: space-between;
    &:after {
      display: none;
    }
    @include mobile {
      @include flex(column);
      text-align: center;
      p:first-child {
        margin-bottom: 0;
      }
    }
  }
}

.menu--footer {
  ul.menu {
    padding: 0;
    @include mobile {
      display: flex;
      flex-direction: column;
    }
    ul.menu{
      display: block;
    }
  }

  > ul.menu > li {
    width: 25%;

    > span {
      margin-bottom: 35px;
      font-size: 18px;
      color: $white;
      display: flex;
      font-family: $rockwell-regular;
      @include mobile {
        margin-bottom: 10px;
      }
    }

    &:last-of-type li {
      display: inline-block;
      margin: 0;

      a {
        width: 25px;
        height: 25px;
        text-indent: -9999px;
        display: block;
        background-size: cover;
        background: url("../images/footer_fb.svg") no-repeat scroll 0 0 transparent;
        transform: rotate(0deg);
        transition: 0.7s all ease;
        margin-right: 10px;
        &:hover {
          transform: rotate(360deg);
        }
      }
      &:nth-child(2) {
        a {
          background: url("../images/footer_twitter.svg") no-repeat scroll 0 0 transparent;
        }
      }
      &:nth-child(3) {
        a {
          background: url("../images/footer_youtube.svg") no-repeat scroll 0 0 transparent;
        }
      }
    }
  }

  li a {
    color: white;
    display: inline-block;
    margin: 10px 0;
    font-family: $raleway-regular;
    font-size: 14px;
  }
}
