/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 1, 2018, 12:24:02 PM
    Author     : yogendra
*/

//form css

form {
  margin: 2em 0;
  .form-item {
    width: 100%;
  }
  label {
    font-family: $raleway-bold;
    color: $color_light_blue;
    font-size: 14px;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
  }

  input, textarea, select {
    padding: 8px 12px;
    font-size: 14px;
    margin-bottom: 1em;
    border: 1px solid $color_light_blue;
    border-radius: 3px;
    outline: none;
    transition: 0.4s all ease;
    @include mobile {
      box-sizing: border-box;
      &:not([type="checkbox"]) {
        width: 100%;
      }
    }
    &:focus, &:active {
      border: 1px solid $color_light_blue;
      border-bottom: 2px solid $color_light_blue;
    }
  }
  input[type="submit"] {
    @include mobile {
      width: inherit;
    }
  }
  .form-submit {
    @extend .buttons;
    border: none;
    &:hover, &:focus {
      border: none;
    }
  }
  .filter-wrapper {
    display: none;
  }
  p {
    margin-top: 0;
  }
  .tips {
    color: $color_light_blue;
    list-style: disc;
    padding-left: 1.5em;
    font-size: 12px;
    li {
      margin-bottom: 0.5em;
    }
  }
  .filter-help {
    a {
      color: $color_light_blue;
      font-size: 12px;
    }
  }
  .webform-element-help {
    color: $white !important;
    font-size: 12px;
    background: $color_light_blue;
    border: none;
    &:hover {
      border: none;
    }
  }
  .form-required {
    &:after {
      content: "*";
      color: red;
      margin-left: 2px;
      font-size: 16px;
    }
  }
}

#field-speakers-add-more-wrapper,
#edit-field-speakers-wrapper {
  text-align: left;
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
}

.form-type-checkbox {
  @include flex(row);
  align-items: center;
}

[class*="field-are-you-a-speaker"] {
  margin-top: 2em;
  input, label {
    margin: 0;
  }
  input {
    margin-right: 0.6em;
  }
}

textarea {
  width: 100%;
  margin-bottom: 0 !important;
}
.text-format-wrapper {
  .filter-wrapper {
    width: 100%;
  }
}

.form-type-checkbox {
  display: flex;
  align-items: center;
  input, label {
    margin: 0 5px 0 0;
  }
  label {
    font-family: $raleway-regular;
    color: $color_grey;
  }
}

.node-session-edit-form,
.node-session-form {
  .field--type-text-long,
  .field--type-text-with-summary {
    margin-bottom: 1em;
  }
}

.formtip {
  background: $color_light_blue;
}

.webform-submission-volunteer-form {
  legend {
    font-family: $raleway-bold;
    color: $color_light_blue;
    margin-bottom: 0.7em !important;
  }
  .fieldset-wrapper {
    border: none;
    .form-item {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      input, label {
        margin: 0;
      }
      label {
        color: darken($color_grey, 20%);
        font-family: $raleway-regular;
      }
      input {
        margin-right: 0.5em;
      }
    }
  }
}

.contact-message-form {
  .form-item-mail,
  .form-item-name {
    margin-bottom: 1.5em;
  }
}

input[value="Preview"] {
  display: none;
}


.user-form {
  width: 40%;
  @include mobile {
    width: 100%;
  }
  input,
  select,
  .form-type-password {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  input[type="submit"] {
    max-width: inherit;
    width: inherit;
  }
}

#webform-submission-drupal-dorm-for-male-drupalers-add-form {
  .fieldset-legend {
    font-family: $raleway-bold;
    color: $color_light_blue;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .form-radios,
  .form-checkboxes {
    margin: 1em 0;
    .form-item {
      display: flex;
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
      input {
        margin-right: 0.6em;
        margin-bottom: 0;
      }
      label {
        margin-bottom: 0;
        line-height: 1;
      }
    }
  }
}
