/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 1, 2018, 12:24:02 PM
    Author     : yogendra
*/

//form css

form {
  margin: 2em 0;
  .form-item {
    width: 100%;
  }
  label {
    font-family: $raleway-bold;
    color: $color_light_blue;
    font-size: 14px;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
  }

  input, textarea {
    padding: 8px 12px;
    font-size: 14px;
    margin-bottom: 1em;
    border: 1px solid $color_light_blue;
    border-radius: 3px;
    outline: none;
    transition: 0.4s all ease;
    &:focus, &:active {
      border: 1px solid $color_light_blue;
      border-bottom: 2px solid $color_light_blue;
    }
  }
  .form-submit {
    @extend .buttons;
    border: none;
  }
  p {
    color: $color_light_blue;
    margin-top: 0;
  }
  .tips {
    color: $color_light_blue;
    list-style: disc;
    padding-left: 1.5em;
    font-size: 12px;
    li {
      margin-bottom: 0.5em;
    }
  }
  .filter-help {
    a {
      color: $color_light_blue;
      font-size: 12px;
    }
  }
}

.form-type-checkbox {
  @include flex(row);
  align-items: center;
}

[class*="field-are-you-a-speaker"] {
  margin-top: 2em;
  input, label {
    margin: 0;
  }
  input {
    margin-right: 0.6em;
  }
}

textarea {
  width: 100%;
  margin-bottom: 0 !important;
}
.text-format-wrapper {
  .filter-wrapper {
    width: 100%;
  }
}

.formtip {
  background: $color_light_blue;
}
