
.block-system-branding-block {
    display: flex;
    align-items: center;
}

.region-header {
    .menu--account {
        position: absolute;
        right: 0;
    }
}

.header {
    background: url("../images/banner.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
}

ul {
    li {
        margin-right: 1.4em;
    }
}
