.top-container {
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    display: flex;
    position: relative;
    .column-1 {
        flex-basis: 24%;
        margin-left: -6%;
        margin-top: -10%;
        transform: rotate(270deg);
        color: $color_links;
        font-family: $raleway-thin;
        span:last-child {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                left: -60%;
                top: 40%;
                width: 55%;
                height: 1px;
                background-color: $color_links;
            }
        }
    }
    .column-2 {
        flex-basis: 80%;
        justify-content: center;
        align-items: center;
        img {
            max-width: 475px;
        }
        a {
            margin-top: 0.7em;
            background: url("../images/register_now.svg") no-repeat scroll 0 0 transparent;
            color: transparent;
            font-size: 2.5em;
            width: 140px;
        }
    }
    .column-3 {
        flex-basis: 20%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -16%;
        a {
            cursor: pointer;
            width: 20px;
            height: 20px;
            text-indent: -9999px;
            margin-bottom: 15px;
            display: block;
            background-size: cover;
            &:first-child {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: -222px;
                    width: 1px;
                    height: 203px;
                    left: 50%;
                    background-color: $color_links;
                }
            }
        }
    }
    .facebook {
        background: url("../images/facebook.svg") no-repeat scroll 0 0 transparent;
    }
    .twitter {
        background: url("../images/linkedin.svg") no-repeat scroll 0 0 transparent;
    }
    .linkedin {
        background: url("../images/twitter.svg") no-repeat scroll 0 0 transparent;
    }
}

.region-content {
    .block-region-content {
        .block-block-content:first-child {
            position: relative;
            padding: 8em 0 8em 5em;
            color: $white;
            background: url("../images/about_bg.png") scroll 0 0 transparent;
            box-sizing: border-box;
            background-size: cover;
            h2 {
                margin-top: 0;
                font-family: $rockwell-regular;
                font-size: 34px;
                margin-bottom: 0;
            }
            .field--name-body {
                strong {
                    font-family: $raleway-regular;
                    font-size: 13px;
                }
                p {
                    max-width: 550px;
                    font-size: 13px;
                    font-family: $raleway-thin;
                    line-height: 1.4;
                }
                a {
                    border: 1px solid $white;
                    color: $white;
                    text-transform: uppercase;
                    font-family: $raleway-bold;
                    margin-top: 1em;
                    letter-spacing: 0.6px;
                    display: inline-block;
                    padding: 0.6em 18px;
                    border-radius: 5px;
                    font-size: 11px;
                }
                img {
                    max-width: 340px;
                    position: absolute;
                    top: -70px;
                    right: 0;
                }
            }
        }
    }
}
