.region-header {
    @include flex(row);
    position: relative;
}
.page-wrapper {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
iframe {
    @include mobile {
        max-width: 100%;
    }
}
.region-content {
    padding: 3em 4em 3em;
    @include mobile {
        padding: 1em 10px 1em;
    }
}
.path-frontpage {
    .region-content {
        padding: 0;
    }
}
.header {
    padding: 15px;
    min-height: 500px;
}
.block-block-content {
    width: 100%;
}
.region-header-bottom {
    display: flex;
}
.flex-row {
    @include flex(row);
}
.flex-column {
    @include flex(column);
}
.path-user {
    .region-content {
        padding: 4em;
        @include mobile {
            padding: 2em 10px 1em;
        }
    }
}
.region-content {
    .page-title {
        margin-top: 0;
    }
}
.layout-container {
    @include mobile {
        margin: 0;
    }
}
.button--danger,
input[value="Delete"],
input[value="Remove"] {
    margin-left: 10px;
    margin-right: 10px;
    color: $white;
    padding: 7px 25px;
    @extend .buttons;
    background-color: #d9534f;
    border-color: #d43f3a;
    background-image: none;
}
